// Your variable overrides
$body-bg: #f9fafb;
//$body-color: rgb(230, 230, 230);
$color:#72777a;
$link-color:#72777a;
$link-hover-color:#313435;

// form
$input-focus-color:#fff;
$input-placeholder-color:rgb(199, 199, 199);

$card-cap-bg:#fff;
$card-bg:rgba(255, 255, 255, 0.5);
$card-border-color:rgba(177, 177, 177, 0.125);;
$text-muted:rgb(5, 5, 5);

$navbar-dark-color: $color;
$navbar-dark-hover-color: #313435;
$navbar-dark-disabled-color:#8a8a8a;
$navbar-dark-active-color:#2196f3;

$theme-colors: (
    "primary": #2196f3,
    "danger": #ff4136
  );

  
// Core

@import "bootstrap/functions";
// @import "white/functions";

@import "white/variables";
@import "bootstrap/variables";

@import "bootstrap/mixins";
// @import "white/mixins";

// Bootstrap components

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

@import "white/swastika";
@import "white/variables";
@import "white/reboot";
@import "white/nav";
@import "white/navbar";
@import "white/sidebar";
@import "white/card";
@import "white/breadcrumb";
@import "white/text";
@import "white/nav-action";
@import "white/buttons";
@import "white/form";
@import "white/switch";
@import "white/custom-forms";
@import "white/micon";
@import "white/modal";
@import "white/images";