// Your variable overrides
$main-bg: #1e1e1e;
$body-bg: #1e1e1e;
$table-dark-row-hover: #151515;
$sidebar-item-hover-gb: #151515;
//$body-color: rgb(230, 230, 230);
$color:#cccccc;
$link-color:#ffffff;
$link-hover-color:#9bfff3;



// form
// $input-focus-color:#fff; 
// $input-placeholder-color:rgb(199, 199, 199);
// $input-group-addon-bg:#fff; 
$input-bg: #151515;

$input-border-color: #2b2c33 !default;

// $table-head-bg: #f1f3f4;

// $card-cap-bg:#fff;
$card-bg:#252526;
$card-border-color:#2b2c33; 
// $text-muted:#aab4b9;

// form
$input-focus-color:#fff;
$input-placeholder-color:rgb(85, 85, 85);

$navbar-dark-color: $color;
$navbar-dark-hover-color: #313435;
$navbar-dark-disabled-color:#8a8a8a;
$navbar-dark-active-color:#2196f3; 


$card-bg:1e1e1e;
$text-muted:#444;

$theme-colors: (
    "primary": #209e91,
    "danger": #ff4136
  );
// $dropdown-border-width: 1px;
// $dropdown-border-color: rgba(0, 0, 0, 0.01);

  
// Core

@import "bootstrap-4.3.1/functions";

@import "bootstrap-4.3.1/variables";

@import "bootstrap-4.3.1/mixins";

// Bootstrap components
 
@import "bootstrap-4.3.1/root";
@import "bootstrap-4.3.1/reboot";
@import "bootstrap-4.3.1/type";
@import "bootstrap-4.3.1/images";
@import "bootstrap-4.3.1/code";
@import "bootstrap-4.3.1/grid";
@import "bootstrap-4.3.1/tables";
@import "bootstrap-4.3.1/forms";
@import "bootstrap-4.3.1/buttons";
@import "bootstrap-4.3.1/transitions";
@import "bootstrap-4.3.1/dropdown";
@import "bootstrap-4.3.1/button-group";
@import "bootstrap-4.3.1/input-group";
@import "bootstrap-4.3.1/custom-forms";
@import "bootstrap-4.3.1/nav";
@import "bootstrap-4.3.1/navbar";
@import "bootstrap-4.3.1/card";
@import "bootstrap-4.3.1/breadcrumb";
@import "bootstrap-4.3.1/pagination";
@import "bootstrap-4.3.1/badge";
@import "bootstrap-4.3.1/jumbotron";
@import "bootstrap-4.3.1/alert";
@import "bootstrap-4.3.1/progress";
@import "bootstrap-4.3.1/media";
@import "bootstrap-4.3.1/list-group";
@import "bootstrap-4.3.1/close";
@import "bootstrap-4.3.1/modal";
@import "bootstrap-4.3.1/tooltip";
@import "bootstrap-4.3.1/popover";
@import "bootstrap-4.3.1/carousel";
@import "bootstrap-4.3.1/utilities";
@import "bootstrap-4.3.1/print";

// Custom components

// @import "mix.fe.portal-dark/mixore";
@import "mix.fe.portal-dark/variables";
@import "mix.fe.portal-dark/reboot";
@import "mix.fe.portal-dark/nav";
@import "mix.fe.portal-dark/navbar";
@import "mix.fe.portal-dark/sidebar";
@import "mix.fe.portal-dark/card";
@import "mix.fe.portal-dark/input-group";
// @import "mix.fe.portal-dark/breadcrumb";
// @import "mix.fe.portal-dark/text";
// @import "mix.fe.portal-dark/nav-action";
// @import "mix.fe.portal-dark/buttons";
// @import "mix.fe.portal-dark/form";
// @import "mix.fe.portal-dark/switch";
@import "mix.fe.portal-dark/custom-forms";
// @import "mix.fe.portal-dark/micon";
@import "mix.fe.portal-dark/tables";
@import "mix.fe.portal-dark/modal";
@import "mix.fe.portal-dark/pagination";
// @import "mix.fe.portal-dark/dropdown";
// @import "mix.fe.portal-dark/tables";


@import "mix.fe.portal-dark/dnd";
 

// Vendor

// @import "custom/vendor/bootstrap-datepicker.scss";
// @import "custom/vendor/headroom.scss";
// @import "custom/vendor/nouislider.scss";