.table {
  // color: $color;
  thead th {
    font-weight: normal;
    font-size: small;
    border-bottom: 1px !important;
    // color: $color;
  }
  tbody {
    tr {
      border: 0px;
      td {
        //border-top: 1px solid #444;
      }
    }
  }
}
.table-hover tbody tr:hover {
  // color: $link-hover-color;
  // background-color: $table-dark-row-hover;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
