$body-bg: var(--body-bg) !default;
$body-color: var(--body-color) !default;
$link-color: var(--primary) !default;
$link-hover-color: var(--link-hover-color) !default;
$border-color: var(--border-color) !default;

$component-active-color: var(--body-bg) !default;
$component-active-bg: var(--primary) !default;

// $body-color: $gray-900 !default;
// $link-hover-color: darken($link-color, 15%) !default;
// $border-color: $gray-300 !default;
// $component-active-color: $white !default;
// $blockquote-small-color: $gray-600 !default;
// $hr-border-color: rgba($black, 0.1) !default;
// $table-color: $body-color !default;
// $table-hover-color: $table-color !default;
// $table-border-color: $border-color !default;
// $table-head-color: $gray-700 !default;
// $table-dark-color: $white !default;
// $table-dark-hover-color: $table-dark-color !default;
// $table-dark-border-color: lighten($table-dark-bg, 7.5%) !default;
// $table-dark-color: $white !default;
// $table-caption-color: $text-muted !default;
// $input-btn-focus-color: rgba($component-active-bg, 0.25) !default;
// $input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
// $btn-link-disabled-color: $gray-600 !default;
// $input-color: $gray-700 !default;
// $input-border-color: $gray-400 !default;
// $input-focus-border-color: lighten($component-active-bg, 25%) !default;
// $input-focus-color: $input-color !default;
// $input-placeholder-color: $gray-600 !default;
// $input-plaintext-color: $body-color !default;
// $input-group-addon-color: $input-color !default;
// $input-group-addon-border-color: $input-border-color !default;
// $custom-control-indicator-border-color: $gray-500 !default;
// $custom-control-label-disabled-color: $gray-600 !default;
// $custom-control-indicator-checked-color: $component-active-color !default;
// $custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg !default;
// $custom-control-indicator-focus-border-color: $input-focus-border-color !default;
// $custom-control-indicator-active-color: $component-active-color !default;
// $custom-control-indicator-active-border-color: $custom-control-indicator-active-bg !default;
// $custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color !default;
// $custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg !default;
// $custom-select-color: $input-color !default;
// $custom-select-disabled-color: $gray-600 !default;
// $custom-select-indicator-color: $gray-800 !default;
// $custom-select-border-color: $input-border-color !default;
// $custom-select-focus-border-color: $input-focus-border-color !default;
// $custom-select-focus-box-shadow: 0 0 0 $custom-select-focus-width $input-btn-focus-color !default;
// $custom-file-focus-border-color: $input-focus-border-color !default;
// $custom-file-color: $input-color !default;
// $custom-file-border-color: $input-border-color !default;
// $custom-file-button-color: $custom-file-color !default;
// $form-feedback-icon-valid-color: $form-feedback-valid-color !default;
// $form-feedback-icon-invalid-color: $form-feedback-invalid-color !default;
// $nav-link-disabled-color: $gray-600 !default;
// $nav-tabs-border-color: $gray-300 !default;
// $nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
// $nav-tabs-link-active-color: $gray-700 !default;
// $nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
// $nav-pills-link-active-color: $component-active-color !default;
// $nav-divider-color: $gray-200 !default;
// $navbar-dark-color: rgba($white, 0.5) !default;
// $navbar-dark-hover-color: rgba($white, 0.75) !default;
// $navbar-dark-active-color: $white !default;
// $navbar-dark-disabled-color: rgba($white, 0.25) !default;
// $navbar-dark-toggler-border-color: rgba($white, 0.1) !default;
// $navbar-light-color: rgba($black, 0.5) !default;
// $navbar-light-hover-color: rgba($black, 0.7) !default;
// $navbar-light-active-color: rgba($black, 0.9) !default;
// $navbar-light-disabled-color: rgba($black, 0.3) !default;
// $navbar-light-toggler-border-color: rgba($black, 0.1) !default;
// $navbar-light-brand-color: $navbar-light-active-color !default;
// $navbar-light-brand-hover-color: $navbar-light-active-color !default;
// $navbar-dark-brand-color: $navbar-dark-active-color !default;
// $navbar-dark-brand-hover-color: $navbar-dark-active-color !default;
// $dropdown-color: $body-color !default;
// $dropdown-border-color: rgba($black, 0.15) !default;
// $dropdown-link-color: $gray-900 !default;
// $dropdown-link-hover-color: darken($gray-900, 5%) !default;
// $dropdown-link-active-color: $component-active-color !default;
// $dropdown-link-disabled-color: $gray-600 !default;
// $dropdown-header-color: $gray-600 !default;
// $pagination-color: $link-color !default;
// $pagination-border-color: $gray-300 !default;
// $pagination-hover-color: $link-hover-color !default;
// $pagination-hover-border-color: $gray-300 !default;
// $pagination-active-color: $component-active-color !default;
// $pagination-active-border-color: $pagination-active-bg !default;
// $pagination-disabled-color: $gray-600 !default;
// $pagination-disabled-border-color: $gray-300 !default;
// $card-border-color: rgba($black, 0.125) !default;
// $tooltip-color: $white !default;
// $tooltip-arrow-color: $tooltip-bg !default;
// $popover-border-color: rgba($black, 0.2) !default;
// $popover-header-color: $headings-color !default;
// $popover-body-color: $body-color !default;
// $popover-arrow-color: $popover-bg !default;
// $popover-arrow-outer-color: fade-in($popover-border-color, 0.05) !default;
// $toast-background-color: rgba($white, 0.85) !default;
// $toast-header-color: $gray-600 !default;
// $toast-header-background-color: rgba($white, 0.85) !default;
// $modal-content-border-color: rgba($black, 0.2) !default;
// $modal-header-border-color: $border-color !default;
// $modal-footer-border-color: $modal-header-border-color !default;
// $progress-bar-color: $white !default;
// $list-group-border-color: rgba($black, 0.125) !default;
// $list-group-active-color: $component-active-color !default;
// $list-group-active-border-color: $list-group-active-bg !default;
// $list-group-disabled-color: $gray-600 !default;
// $list-group-action-color: $gray-700 !default;
// $list-group-action-hover-color: $list-group-action-color !default;
// $list-group-action-active-color: $body-color !default;
// $thumbnail-border-color: $gray-300 !default;
// $figure-caption-color: $gray-600 !default;
// $breadcrumb-divider-color: $gray-600 !default;
// $breadcrumb-active-color: $gray-600 !default;
// $carousel-control-color: $white !default;
// $carousel-caption-color: $white !default;
// $close-color: $black !default;
// $code-color: $pink !default;
// $kbd-color: $white !default;
// $pre-color: $gray-900 !default;
