@function v($var, $fallback: null) {
  @if ($fallback) {
    @return var(--#{$var}, #{$fallback});
  } @else {
    @return var(--#{$var});
  }
}

// // Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "bg-color": $white,
    "text-color": $gray-900,
    "primary-color-hue": 211,
    "primary-color-saturation": 100%,
    "primary-color-brightness": 50%,
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
  ),
  $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// $link-color: v(primary-color, $primary) !default;
// $component-active-bg: v(primary-color, $primary) !default;
// $custom-control-indicator-checked-disabled-bg: rgba(v(primary-color, $primary), 0.5) !default;
// $progress-bar-bg: v(primary-color, $primary) !default;

$body-bg: v(bg-color, $white) !default;
$body-color: v(text-color, $gray-900) !default;
$table-hover-bg: rgba($blue, 0.035) !default;
$table-head-bg: rgba($blue, 0.075) !default;
// $card-bg: v(bg-color, $white) !default;

// //$component-active-bg:         $primary !default;

// $link-hover-color: $primary-darken-15 !default;

// $input-focus-border-color: $primary-lighten-25 !default;

// $custom-control-indicator-active-bg: $primary-lighten-35 !default;

// $custom-range-thumb-active-bg: $primary-lighten-35 !default;

// // aa{
// //   box-shadow: 0 0 0 0.2rem rgba(var(--primary-color, #007bff), 0.25);
// //   box-shadow: 0 0 0 1px var(--bg-color, #fff), 0 0 0 0.2rem rgba(var(--primary-color, #007bff), 0.25);
// //   background-color: #fff;
// //   border-color: #dee2e6;
// //   background-color: #000;
// //   background-color: #002d5d;
// //   background-color: #003d80;
// //   background-color: #004085;
// //   background-color: #00448d;
// //   background-color: #0056b3;
// //   background-color: #0062cc;
// //   background-color: #0069d9;
// //   background-color: #007bff;
// //   background-color: #0c5460;
// //   background-color: #117a8b;
// //   background-color: #138496;
// //   background-color: #155724;
// //   background-color: #17a2b8;
// //   background-color: #1b1e21;
// //   background-color: #1d2124;
// //   background-color: #1e7e34;
// //   background-color: #212529;
// //   background-color: #218838;
// //   background-color: #23272b;
// //   background-color: #28a745;
// //   background-color: #333;
// //   background-color: #343a40;
// //   background-color: #34ce57;
// //   background-color: #383d41;
// //   background-color: #436285;
// //   background-color: #4da2ff;
// //   background-color: #506c82;
// //   background-color: #545b62;
// //   background-color: #5a6268;
// //   background-color: #5aa9ff;
// //   background-color: #69b8f8;
// //   background-color: #6c757d;
// //   background-color: #721c24;
// //   background-color: #76bef8;
// //   background-color: #80bdff;
// //   background-color: #818182;
// //   background-color: #856404;
// //   background-color: #858585;
// //   background-color: #9acffa;
// //   background-color: #9fcdff;
// //   background-color: #a4c3e4;
// //   background-color: #abdde5;
// //   background-color: #adb5bd;
// //   background-color: #b1dfbb;
// //   background-color: #b8d0ea;
// //   background-color: #b8daff;
// //   background-color: #b9bbbe;
// //   background-color: #bd2130;
// //   background-color: #bee5eb;
// //   background-color: #c2e0ff;
// //   background-color: #c3e6cb;
// //   background-color: #c6c8ca;
// //   background-color: #c82333;
// //   background-color: #c8cbcf;
// //   background-color: #cae7fd;
// //   background-color: #ccddf0;
// //   background-color: #cce5ff;
// //   background-color: #d1ecf1;
// //   background-color: #d39e00;
// //   background-color: #d4edda;
// //   background-color: #d6d8d9;
// //   background-color: #d6d8db;
// //   background-color: #dae0e5;
// //   background-color: #dbedff;
// //   background-color: #dc3545;
// //   background-color: #dee2e6;
// //   background-color: #e0a800;
// //   background-color: #e2e3e5;
// //   background-color: #e2e6ea;
// //   background-color: #e3f2fe;
// //   background-color: #e4606d;
// //   background-color: #e6e6e6;
// //   background-color: #e6f2ff;
// //   background-color: #e9ecef;
// //   background-color: #ebf5fe;
// //   background-color: #ececec;
// //   background-color: #ececf6;
// //   background-color: #f1b0b7;
// //   background-color: #f2f2f2;
// //   background-color: #f5c6cb;
// //   background-color: #f7f7f7;
// //   background-color: #f8d7da;
// //   background-color: #f8f9fa;
// //   background-color: #fcf8e3;
// //   background-color: #fdfdfe;
// //   background-color: #fefefe;
// //   background-color: #ffc107;
// //   background-color: #ffe8a1;
// //   background-color: #ffeeba;
// //   background-color: #fff3cd;
// //   background-color: rgba(0, 0, 0, 0);
// //   background-color: rgba(0, 0, 0, 0.03);
// //   background-color: rgba(0, 0, 0, 0.05);
// //   background-color: rgba(0, 0, 0, 0.075);
// //   background-color: rgba(220, 53, 69, 0.9);
// //   background-color: rgba(255, 255, 255, 0.05);
// //   background-color: rgba(255, 255, 255, 0.075);
// //   background-color: rgba(40, 167, 69, 0.9);
// //   background-color: rgba(var(--primary-color, #007bff), 0.5);
// //   background-color: transparent;
// //   background-color: var(--bg-color, #fff);
// //   background-color: var(--primary-color, #007bff);
// //   background-color: var(--primary-lighten-35-color, #9acffa);
// //   background-color: white;
// //   --bg-color: #fff;
// //   border-bottom-color: #000;
// //   border-bottom-color: #fff;
// //   border-bottom-color: rgba(0, 0, 0, 0.25);
// //   border-color: #002d5d;
// //   border-color: #003773;
// //   border-color: #003d80;
// //   border-color: #004085;
// //   border-color: #0056b3;
// //   border-color: #005cbf;
// //   border-color: #0062cc;
// //   border-color: #007bff;
// //   border-color: #0c5460;
// //   border-color: #10707f;
// //   border-color: #117a8b;
// //   border-color: #155724;
// //   border-color: #171a1d;
// //   border-color: #17a2b8;
// //   border-color: #1b1e21;
// //   border-color: #1c7430;
// //   border-color: #1d2124;
// //   border-color: #1e7e34;
// //   border-color: #28a745;
// //   border-color: #343a40;
// //   border-color: #34ce57;
// //   border-color: #383d41;
// //   border-color: #409cff;
// //   border-color: #436285;
// //   border-color: #444 #444 #777;
// //   border-color: #454d55;
// //   border-color: #4da2ff;
// //   border-color: #4e555b;
// //   border-color: #506c82;
// //   border-color: #545b62;
// //   border-color: #595959;
// //   border-color: #5db2f7;
// //   border-color: #69b8f8;
// //   border-color: #6c757d;
// //   border-color: #721c24;
// //   border-color: #777 #777 var(--bg-color, #fff);
// //   border-color: #7aa7d7;
// //   border-color: #7abaff;
// //   border-color: #80bdff;
// //   border-color: #818182;
// //   border-color: #856404;
// //   border-color: #858585;
// //   border-color: #86cfda;
// //   border-color: #8fd19e;
// //   border-color: #95999c;
// //   border-color: #9acffa;
// //   border-color: #b21f2d;
// //   border-color: #b3b7bb;
// //   border-color: #b8d0ea;
// //   border-color: #b8daff;
// //   border-color: #bd2130;
// //   border-color: #bdddff;
// //   border-color: #bee5eb;
// //   border-color: #c3e6cb;
// //   border-color: #c69500;
// //   border-color: #c6c8ca;
// //   border-color: #cae6fc;
// //   border-color: #d39e00;
// //   border-color: #d3d9df;
// //   border-color: #d6d8db;
// //   border-color: #dae0e5;
// //   border-color: #dbedff;
// //   border-color: #dc3545;
// //   border-color: #dee2e6 #dee2e6 var(--bg-color, #fff);
// //   border-color: #dfdfdf;
// //   border-color: #e3f2fe;
// //   border-color: #e4606d;
// //   border-color: #e6e6e6;
// //   border-color: #e9ecef #e9ecef #dee2e6;
// //   border-color: #ed969e;
// //   border-color: #f5c6cb;
// //   border-color: #f8f9fa;
// //   border-color: #fbfcfc;
// //   border-color: #fdfdfe;
// //   border-color: #ffc107;
// //   border-color: #ffdf7e;
// //   border-color: #ffeeba;
// //   border-color: #fff;
// //   border-color: rgba(0, 0, 0, 0.1);
// //   border-color: rgba(0, 0, 0, 0.125);
// //   border-color: rgba(255, 255, 255, 0.1);
// //   border-color: transparent;
// //   border-color: var(--primary-color, #007bff);
// //   border-color: var(--primary-lighten-25-color, #80bdff);
// //   border-color: var(--primary-lighten-35-color, #9acffa);
// //   border-color: white;
// //   border-left-color: #000;
// //   border-left-color: #fff;
// //   border-left-color: rgba(0, 0, 0, 0.25);
// //   border-right-color: #000;
// //   border-right-color: #fff;
// //   border-right-color: rgba(0, 0, 0, 0.25);
// //   border-top-color: #000;
// //   border-top-color: #9fcdff;
// //   border-top-color: #a4c3e4;
// //   border-top-color: #abdde5;
// //   border-top-color: #b1dfbb;
// //   border-top-color: #b9bbbe;
// //   border-top-color: #c2e0ff;
// //   border-top-color: #c8cbcf;
// //   border-top-color: #cae7fd;
// //   border-top-color: #ececf6;
// //   border-top-color: #f1b0b7;
// //   border-top-color: #f2f2f2;
// //   border-top-color: #ffe8a1;
// //   border-top-color: #fff;
// //   border-top-color: rgba(0, 0, 0, 0.25);

// //   }
//   aaa{
//     color: #000000;
//     color: #002d5d;
//     color: #003773;
//     color: #003d80;
//     color: #004085;
//     color: #00448d;
//     color: #0056b3;
//     color: #005cbf;
//     color: #0062cc;
//     color: #0069d9;
//     color: #007bff;
//     color: #0c5460;
//     color: #10707f;
//     color: #117a8b;
//     color: #138496;
//     color: #155724;
//     color: #171a1d;
//     color: #17a2b8;
//     color: #1b1e21;
//     color: #1c7430;
//     color: #1d2124;
//     color: #1e7e34;
//     color: #212529;
//     color: #218838;
//     color: #23272b;
//     color: #28a745;
//     color: #333333;
//     color: #343a40;
//     color: #34ce57;
//     color: #383d41;
//     color: #409cff;
//     color: #436285;
//     color: #454d55;
//     color: #4da2ff;
//     color: #4e555b;
//     color: #506c82;
//     color: #545b62;
//     color: #595959;
//     color: #5a6268;
//     color: #5aa9ff;
//     color: #5db2f7;
//     color: #69b8f8;
//     color: #6c757d;
//     color: #721c24;
//     color: #76bef8;
//     color: #7aa7d7;
//     color: #7abaff;
//     color: #80bdff;
//     color: #818182;
//     color: #856404;
//     color: #858585;
//     color: #86cfda;
//     color: #8fd19e;
//     color: #95999c;
//     color: #9acffa;
//     color: #9fcdff;
//     color: #a4c3e4;
//     color: #abdde5;
//     color: #adb5bd;
//     color: #b1dfbb;
//     color: #b21f2d;
//     color: #b3b7bb;
//     color: #b8d0ea;
//     color: #b8daff;
//     color: #b9bbbe;
//     color: #bd2130;
//     color: #bdddff;
//     color: #bee5eb;
//     color: #c2e0ff;
//     color: #c3e6cb;
//     color: #c69500;
//     color: #c6c8ca;
//     color: #c82333;
//     color: #c8cbcf;
//     color: #cae6fc;
//     color: #cae7fd;
//     color: #ccddf0;
//     color: #cce5ff;
//     color: #d1ecf1;
//     color: #d39e00;
//     color: #d3d9df;
//     color: #d4edda;
//     color: #d6d8d9;
//     color: #d6d8db;
//     color: #dae0e5;
//     color: #dbedff;
//     color: #dc3545;
//     color: #dee2e6;
//     color: #dfdfdf;
//     color: #e0a800;
//     color: #e2e3e5;
//     color: #e2e6ea;
//     color: #e3f2fe;
//     color: #e4606d;
//     color: #e6e6e6;
//     color: #e6f2ff;
//     color: #e9ecef;
//     color: #ebf5fe;
//     color: #ececec;
//     color: #ececf6;
//     color: #ed969e;
//     color: #f1b0b7;
//     color: #f2f2f2;
//     color: #f5c6cb;
//     color: #f7f7f7;
//     color: #f8d7da;
//     color: #f8f9fa;
//     color: #fbfcfc;
//     color: #fcf8e3;
//     color: #fdfdfe;
//     color: #fefefe;
//     color: #ffc107;
//     color: #ffdf7e;
//     color: #ffe8a1;
//     color: #ffeeba;
//     color: #ffffff;
//     color: #fff3cd;

//     color: #000000;
//     color: #c69500;
//     color: #d39e00;
//     color: #e0a800;
//     color: #856404;
//     color: #ffc107;
//     color: #171a1d;
//     color: #1b1e21;
//     color: #155724;
//     color: #1d2124;
//     color: #721c24;
//     color: #212529;
//     color: #23272b;
//     color: #b21f2d;
//     color: #1c7430;
//     color: #bd2130;
//     color: #333333;
//     color: #c82333;
//     color: #1e7e34;
//     color: #218838;
//     color: #343a40;
//     color: #383d41;
//     color: #28a745;
//     color: #dc3545;
//     color: #454d55;
//     color: #34ce57;
//     color: #595959;
//     color: #4e555b;
//     color: #002d5d;
//     color: #0c5460;
//     color: #545b62;
//     color: #5a6268;
//     color: #e4606d;
//     color: #003773;
//     color: #6c757d;
//     color: #ffdf7e;
//     color: #10707f;
//     color: #003d80;
//     color: #506c82;
//     color: #818182;
//     color: #004085;
//     color: #436285;
//     color: #858585;
//     color: #117a8b;
//     color: #00448d;
//     color: #138496;
//     color: #95999c;
//     color: #8fd19e;
//     color: #ed969e;
//     color: #ffe8a1;
//     color: #0056b3;
//     color: #f1b0b7;
//     color: #17a2b8;
//     color: #ffeeba;
//     color: #b1dfbb;
//     color: #b3b7bb;
//     color: #adb5bd;
//     color: #b9bbbe;
//     color: #005cbf;
//     color: #c6c8ca;
//     color: #c3e6cb;
//     color: #f5c6cb;
//     color: #0062cc;
//     color: #fff3cd;
//     color: #c8cbcf;
//     color: #7aa7d7;
//     color: #0069d9;
//     color: #d6d8d9;
//     color: #86cfda;
//     color: #d4edda;
//     color: #f8d7da;
//     color: #d6d8db;
//     color: #d3d9df;
//     color: #dfdfdf;
//     color: #fcf8e3;
//     color: #a4c3e4;
//     color: #abdde5;
//     color: #dae0e5;
//     color: #e2e3e5;
//     color: #dee2e6;
//     color: #e6e6e6;
//     color: #b8d0ea;
//     color: #e2e6ea;
//     color: #bee5eb;
//     color: #ececec;
//     color: #e9ecef;
//     color: #ccddf0;
//     color: #d1ecf1;
//     color: #f2f2f2;
//     color: #ececf6;
//     color: #5db2f7;
//     color: #f7f7f7;
//     color: #69b8f8;
//     color: #76bef8;
//     color: #9acffa;
//     color: #f8f9fa;
//     color: #cae6fc;
//     color: #fbfcfc;
//     color: #cae7fd;
//     color: #e3f2fe;
//     color: #ebf5fe;
//     color: #fdfdfe;
//     color: #fefefe;

//     color: #000000;
//     color: #002d5d;
//     color: #003773;
//     color: #003d80;
//     color: #004085;
//     color: #00448d;
//     color: #0056b3;
//     color: #005cbf;
//     color: #0062cc;
//     color: #0069d9;
//     color: #007bff;
//     color: #409cff;
//     color: #4da2ff;
//     color: #5aa9ff;
//     color: #7abaff;
//     color: #80bdff;
//     color: #9fcdff;
//     color: #b8daff;
//     color: #bdddff;
//     color: #c2e0ff;
//     color: #cce5ff;
//     color: #dbedff;
//     color: #e6f2ff;
//     color: #ffffff;

//   }

//   //   "#000000",  "#002d5d",  "#003773",  "#003d80",  "#004085",  "#00448d",  "#0056b3",  "#005cbf",  "#0062cc",  "#0069d9",  "#007bff",  "#0c5460",  "#10707f",  "#117a8b",  "#138496",  "#155724",  "#171a1d",  "#17a2b8",  "#1b1e21",  "#1c7430",  "#1d2124",  "#1e7e34",  "#212529",  "#218838",  "#23272b",  "#28a745",  "#333333",  "#343a40",  "#34ce57",  "#383d41",  "#409cff",  "#436285",  "#454d55",  "#4da2ff",  "#4e555b",  "#506c82",  "#545b62",  "#595959",  "#5a6268",  "#5aa9ff",  "#5db2f7",  "#69b8f8",  "#6c757d",  "#721c24",  "#76bef8",  "#7aa7d7",  "#7abaff",  "#80bdff",  "#818182",  "#856404",  "#858585",  "#86cfda",  "#8fd19e",  "#95999c",  "#9acffa",  "#9fcdff",  "#a4c3e4",  "#abdde5",  "#adb5bd",  "#b1dfbb",  "#b21f2d",  "#b3b7bb",  "#b8d0ea",  "#b8daff",  "#b9bbbe",  "#bd2130",  "#bdddff",  "#bee5eb",  "#c2e0ff",  "#c3e6cb",  "#c69500",  "#c6c8ca",  "#c82333",  "#c8cbcf",  "#cae6fc",  "#cae7fd",  "#ccddf0",  "#cce5ff",  "#d1ecf1",  "#d39e00",  "#d3d9df",  "#d4edda",  "#d6d8d9",  "#d6d8db",  "#dae0e5",  "#dbedff",  "#dc3545",  "#dee2e6",  "#dfdfdf",  "#e0a800",  "#e2e3e5",  "#e2e6ea",  "#e3f2fe",  "#e4606d",  "#e6e6e6",  "#e6f2ff",  "#e9ecef",  "#ebf5fe",  "#ececec",  "#ececf6",  "#ed969e",  "#f1b0b7",  "#f2f2f2",  "#f5c6cb",  "#f7f7f7",  "#f8d7da",  "#f8f9fa",  "#fbfcfc",  "#fcf8e3",  "#fdfdfe",  "#fefefe",  "#ffc107",  "#ffdf7e",  "#ffe8a1",  "#ffeeba",  "#ffffff",  "#fff3cd",
