// Your variable overrides
$main-bg: #fff;
$body-bg: #f9fafb;
//$body-color: rgb(230, 230, 230);
$color:#72777a;
$link-color:#72777a;
$link-hover-color:#313435;

// form
$input-focus-color:#fff; 
$input-placeholder-color:rgb(199, 199, 199);
$input-group-addon-bg:#fff; 

$card-cap-bg:#fff;
$card-bg:rgba(255, 255, 255, 0.5);
$card-border-color:rgba(177, 177, 177, 0.125);;
$text-muted:rgb(5, 5, 5);

$navbar-dark-color: $color;
$navbar-dark-hover-color: #313435;
$navbar-dark-disabled-color:#8a8a8a;
$navbar-dark-active-color:#2196f3; 

$theme-colors: (
    "primary": #2196f3,
    "danger": #ff4136
  ); 

$dropdown-border-width: 1px;
$dropdown-border-color: rgba(0, 0, 0, 0.01);

  
// Core

@import "bootstrap/functions";

@import "bootstrap/variables";

@import "bootstrap/mixins";

// Bootstrap components
 
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Custom components

@import "white_sd/swastika";
@import "white_sd/variables";
@import "white_sd/reboot";
@import "white_sd/nav";
@import "white_sd/navbar";
@import "white_sd/sidebar";
@import "white_sd/card";
@import "white_sd/breadcrumb";
@import "white_sd/text";
@import "white_sd/nav-action";
@import "white_sd/buttons";
@import "white_sd/form";
@import "white_sd/switch";
@import "white_sd/custom-forms";
@import "white_sd/micon";
@import "white_sd/modal";
@import "white_sd/images";
@import "white_sd/dropdown"


// Vendor

// @import "custom/vendor/bootstrap-datepicker.scss";
// @import "custom/vendor/headroom.scss";
// @import "custom/vendor/nouislider.scss";