.form-control:focus{
    color:$color;
}
.table thead th { 
    border-bottom: 1px;
    font-weight: 500;
}
.table .thead-light th
{
    background-color: $table-head-bg;
}

.form-control{
    border: 0px;
    background-color: $input-bg;
}