.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #333 !important;
  border: 1px solid $card-border-color;
  &:hover {
    
    border-color: #595959;
  }
}
