.table {
  color: $color;
  th {
    font-weight: bold;
    font-size: small;
    color: $color;
  }
  tr {
    border-bottom: 1px solid;

    td {
      border: 0px;
    }
  }
}
.table-hover tbody tr:hover {
  color: $link-hover-color;
  background-color: $table-dark-row-hover;
  
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}