// .custom-select{
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }
.dropdown-menu{
  
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.dropdown-item{
  color: $color;
  
}