.ui-sortable-placeholder {
    height: 40px;
    border: 1px solid #ccc;
}

.form-group.no-border.input-lg .input-group-text, .input-group.no-border.input-lg .input-group-text{
    padding: 15px 10px 15px 19px!important;
}